<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
</head>
<body>
<header th:replace="~{/fixed/header.html :: header}"></header>
<form action="/post/write" method="post" th:object="${postDTO}" enctype="multipart/form-data">
    <input type="text" placeholder="게시글 제목" th:field="*{postTitle}">
    <input type="hidden" name="memberId" th:value="${session.member.id}">
    <textarea th:field="*{postContent}"></textarea>
    <div id="imageContainer"></div>
    <input type="file" name="file" multiple>
    <button>완료</button>
</form>
</body>
</html>